<footer class="footer">
    <div class="columns is-variable is-1-mobile is-0-tablet is-3-desktop is-8-widescreen">
      <a href="https://www.google.com">
        <div class="column">
          <figure class="image container is-128x128 ">
              <img src="assets/img/mission.png">
          </figure>
          <div class="columnText">
            <p class="container has-text-centered">
                A nossa missão e aquilo a que nos propomos!
              </p>
          </div>
        </div>
      </a>
      <a href="https://www.google.com">
        <div class="column">
          <figure class="image container is-128x128 ">
              <img src="assets/img/paw.png">
          </figure>
          <div class="columnText">
            <p class="container has-text-centered">
                A nossa missão e aquilo a que nos propomos!
              </p>
          </div>
        </div>
      </a>
    </div>
  </footer>