<section class="hero is-white section" id="introSection">
    <div>
        <h2 class="title container sec-title roasting">
            <span class="puppy">C</span>omo <span class="puppy">P</span>osso<span class="puppy">A</span>judar<span class="puppy">?</span>
        </h2>
    </div>



    <div class="card-columns">

        <!-- 1st -->
        <div class="card">
          <div class="card-body">
            <h2 class="card-title roasting" style="font-size: 5em;"><span class="puppy">D</span>oando</h2>
            <blockquote class="blockquote mb-0">
                <p>Tudo aquilo que está sobrando na sua casa, está fazendo falta para algém.</p>
                <footer class="blockquote-footer">
                  <small>
                    Chico Xavier
                  </small>
                </footer>
              </blockquote>
              <p class="card-text">
                Aceitamos:</p>
                <ul>
                    <li>Sacos de ração abertos</li>
                    <li>Tachos e panelas velhas</li>
                    <li>Mantas/cobertores usados</li>
                    <li>Casotas usadas</li>
                    <li>Trelas e coleiras usadas</li>
                    <li>Comedouros usados</li>
                    <li>Caminhas usadas (plastico/pano)</li>
                    <li>Brinquedos usados para cão/gato</li>
                </ul>
          </div>
        </div>

        <!-- 2nd -->
        <div class="card">
          <img class="card-img" src="https://www.dirtydog.pt/image/cache/catalog/Capa/bannerDIRTY-1140x260.png" alt="Card image">
          
            <div class="card-body">
              <h2 class="card-title roasting" style="font-size: 5em;"><span class="puppy">C</span>om a <span class="puppy">D</span>irty <span class="puppy">D</span>og</h2>
                <p class="card-text">
                    Pode-nos ajudar comprando <a href="https://www.dirtydog.pt/index.php?route=product%2Fproduct&path=63&product_id=341">Ração com Amor Solidário</a> na loja online Dirty Dog. 
                    <br>Esta é uma opção ótima para ajudar sem sequer sair de casa! 😻
            </div>
          </div>


        <div class="card">
            <div class="card-body">
                <h2 class="card-title roasting" style="font-size: 5em;"><span class="puppy">S</span>endo <span class="puppy">S</span>sócios</h2>
                <p class="card-text">
                    A primeira anuidade fica por 25€ e as seguintes por 20€.
                </p>
            </div>
        </div>


        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <img class="card-img" src="..." alt="Card image">
        </div>
        <div class="card p-3 text-right">
          <blockquote class="blockquote mb-0">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer class="blockquote-footer">
              <small class="text-muted">
                Someone famous in <cite title="Source Title">Source Title</cite>
              </small>
            </footer>
          </blockquote>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>


  </section>
  