.sec-title {
    font-size: 80px;
    text-align: center;
    margin-bottom: 1em;
  }

  .cattie{
    font-family: 'cattie';
  }


  .katto{
    font-family: 'katto';
  }

  .puppy{
    font-family: 'puppy';
  }

  .roasting{
    font-family: 'roasting';
  }

  .section {
    margin-bottom: -18em;
  }

  li:before { content: '\1F408'; margin-left: 0px; margin-right: 10px; } 
