<div class="container">

  <h2>Animais</h2>

  <app-add-animal></app-add-animal>

  <div class="cards-wrapper">

        <div *ngFor="let a of animals">

          <div class="cards" > <!-- style="max-width:300px"-->
            <div class="card-image">
              <figure class="image is-1by1 animal-img">
                <img class="imgg" [src]="a.imagePath" alt="Placeholder image" style="object-fit: cover;">
              </figure>
            </div>
          </div>
          <div style="text-align: center; padding: 0.5rem;">
            <input type="button" (click)="delete();" class="button is-small is-danger" value="eliminar" >
          </div>
         </div>

    </div>


    <!--
    <div *ngFor="let a of animals">
      <div class="card" style="max-width:300px">
        <div class="card-image" >
          <figure class="image is-1by1 animal-img">
            <img [src]="a.imagePath"  alt="Placeholder image" style="object-fit: cover;">
          </figure>
        </div>
      </div>
    </div>
    -->
  </div>
