.sec-title {
    font-size: 80px;
    text-align: center;
    margin-bottom: 1em;
  }

  .cattie{
    font-family: 'cattie';
  }


  .katto{
    font-family: 'katto';
  }

  .puppy{
    font-family: 'puppy';
  }

  .roasting{
    font-family: 'roasting';
  }

  .section {
    margin:0;
    padding:0;
  }

  .sh {
    filter: drop-shadow(20px 10px 10px rgb(67, 12, 75));
  }
