.sec-title {
    font-size: 80px;
    text-align: center;
    margin-bottom: 1em;
  }

  .roasting{
    font-family: 'roasting';
  }

  .section {
    margin-bottom: -250px;
    margin:0;
    padding:0;
  }


  ::ng-deep * {
      
    margin: 0;
    padding: 0;
  }

  .sh {
    filter: drop-shadow(20px 10px 10px rgb(67, 12, 75));
  }

  .bg-clear {
    background-color: whitesmoke;
  }