.login {
  position: absolute;
  bottom: 1rem;
  top: 8rem;
  /* left: 1rem; */
  right: 1%;
  z-index: 99;
  width: 20%;
  min-width: 200px;
}

/*
@media (max-width:960px) {
  .login {
    top:20rem;
  }
}
*/
