
<!--
<section class="carousel slide section" id="carouselSec">
    <carousel>
        <slide class="slide carousel">
          <img class="d-block w-100 slide carousel" src="assets/HomePage-img/teste.jpg" alt="first slide" style="display: block; width: 100%; vertical-align:middle">
          <div class="carousel-caption d-none d-md-block carousel">
            <h3>First slide label</h3>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
          </div>
        </slide>
        <slide class="slide carousel">
          <img class="d-block w-100 slide carousel" src="assets/HomePage-img/pataDeCao.png" alt="second slide" style="display: block; width: 100%">
          <div class="carousel-caption d-none d-md-block carousel">
            <h3>Second slide label</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </slide>
        <slide class="slide carousel">
          <img class="d-block w-100 slide carousel" src="assets/HomePage-img/ex3.jpg" alt="third slide" style="display: block; width: 100%">
          <div class="carousel-caption d-none d-md-block carousel">
            <h3>Third slide label</h3>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
          </div>
        </slide>
      </carousel>
    </section>
  -->
  
<section >
  <!--<fb-post href="https://www.facebook.com/20531316728/posts/10154009990506729/"></fb-post>-->

  <app-quem-somos></app-quem-somos>
  <app-missao></app-missao>
</section>

  <!--
  <hr class="featurette-divider __before_content" style="margin-left:3rem; margin-right:3rem">

<section class="sectionBotoesRedirect section">
<div class="columns is-variable is-2-mobile is-2-tablet is-6-desktop is-10-widescreen is-2-fullhd ">
<div class="column ">
    <figure class="image container is-128x128 ">
      <a>
        <img src="assets/HomePage-img/mission.png">
      </a>
    </figure>
    <div class="columnText">
      <div class="columnText columnTitle">
        <p class="title has-text-centered">Missão</p>
      </div>
      <p class="container has-text-centered">
        A nossa missão e aquilo a que nos propomos!
      </p>
    </div>
</div>
<div class="column">
  <figure class="image container is-128x128">
    <a>
      <img src="assets/HomePage-img/paw.png">
    </a>
    </figure>
    <div class="columnText">
      <div class="columnText columnTitle">
        <p class="title has-text-centered">Ajudar</p>
      </div>
      <p class="container has-text-centered">
        Ajude a ajudar!
      </p>
    </div>
</div>

<div class="column">
  <figure class="image container is-128x128" routerLink="/animais">
    <a>
      <img src="assets/HomePage-img/paw.png">
    </a>
    </figure>
    <div class="columnText">
      <div class="columnText columnTitle">
        <p class="title has-text-centered">Adote</p>
      </div>
      <p class="container has-text-centered">
        Ajude-nos adotando um bichano!
      </p>
    </div>
</div>


<div class="column">
    <figure class="image container is-128x128">
      <a>
        <img src="assets/HomePage-img/paw.png">
      </a>
    </figure>
    <div class="columnText">
      <div class="columnText columnTitle">
        <p class="title has-text-centered">Parceiros</p>
      </div>
      <p class="container has-text-centered">
        Os nossos parceiros.
      </p>
    </div>
</div>
</div>



</section>
-->
